.container {
	font-size: 16px;
	overflow: hidden;
	color: #fff;
	background-color: #000;
	cursor: url("../images/mouse.png"), auto;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.8fr 1.6fr 0.6fr;
	
	grid-template-areas: "header header header"
						"content content content"
						"footer footer footer";
}

.container--map {
	grid-template-rows: 0.1fr 1fr 0.2fr;
}

/* Splash Background */
.menu-image {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 512px;
	height: 512px;
	background-repeat: no-repeat;
}

/* My CSS Grid Classes */
.menu-header {
	grid-area: header;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu-content {
	grid-area: content;
}

.menu-footer {
	grid-area: footer;
}

/* Map */
.menu-content--map {
	background-image: url("../images/map.png") ;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0px 84px;
	border: 4px rgb(124, 123, 123) solid;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.menu-map--message {
	text-transform: uppercase;
	font-size: 16px;
	font-family: BankGothic;
	bottom: 60px;
	right: 80px;
	position: absolute;	
}

.menu-map--legend {
	display: flex;
	flex: 1 0 50%;
	margin: 40px 60px;
	background: rgba(0, 0, 0, .7);
}

.menu-map--legend-title {
	height: -moz-fit-content;
	height: fit-content;
	margin: 0px;
	font-family: Beckett, Verdana;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	position: absolute;
	margin-left: 80px;
	margin-top: 20px;
	text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

.menu-map--legend-items {
	margin-top: 30px;
	width: 100%;
	display: flex;
	list-style: none;
	flex-direction: column;
}

.menu-map--legend-item {
	margin-top: 6px;
	display: flex;
	color: rgb(172, 203, 241);
	font-size: 20px;
	font-family: BankGothic;
	text-transform: uppercase;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.menu-map-legend-icon {
	margin-right: 6px;
	width: 24px;
}

.menu-map--city {
	filter: blur(0.5px);
    font-family: 'Pricedown Bl';
	font-size: 40px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 30px;
	margin-right: 80px;	
	text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

/* Header */
.menu-title {
	width: -moz-fit-content;
	width: fit-content;
	padding-left: 3rem;
	margin: 0;
	font-family: Beckett, Verdana;
	font-weight: 400;
	font-style: normal;
	font-size: 4.5rem;
	color: rgb(172, 203, 241);
}

.menu-subtitle {
	padding-left: 6rem;
	font-family: Futura, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	font-size: 1.5em;
	color:rgb(74, 90, 107);
}

/* Menu container */
.menu-container {
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Menu container fixes */
.menu-container--game {
	padding-left: 100px;
	justify-content: flex-start;
}

.menu-container--options {
	width: 50%;
	height: 80%;
}

.menu-container--language {
	justify-content: flex-start;
}

/* Menu option */
.menu-option {
	align-self: center;
	margin: 15px;
	color: rgb(74, 90, 107);
	transform: scale(2,1);
	font-size: 24px;
	font-family: BankGothic;
	position: relative;
	text-transform: uppercase;
}

.menu-option > a {
	width: -moz-fit-content;
	width: fit-content;
	text-decoration: none;	
	color: rgb(74, 90, 107);
	cursor: url("../images/mouse.png"), auto;
}

.menu-option > a:hover {
	color: rgb(152, 179, 213);
}

.menu-option > a:hover::before {
	position: absolute;
	content: "";
	left: -30px;
	width: 90px;
	height: 90px;
	background-size: 24px 60px;
	background-repeat: no-repeat;
	background-image: url('../images/arrow.png');
}

/* Menu option fixes */
.menu-option--game {
	align-self: flex-start;
	transform: scale(1, 1);
	font-size: 36px;
	letter-spacing: 1.5px;
	margin: 8px 15px;
}

.menu-option--game > a:hover::before {
	left: -40px;
	background-size: 36px 70px;
}

.menu-option--back {
	bottom: 40px;
	right: 80px;
	position: absolute;
}

.menu-option--back-left {
	position: absolute;
	left: 100px;
	bottom: 40px;
}

.menu-option--datagame {
	width: 80%;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	margin: 2px 15px;
	transform: scale(1, 1);
	letter-spacing: 1.2px;
}

.menu-option--datagame-left {
	width: 40%;
	display: inline-flex;
}

.menu-option--datagame-right {
	width: 60%;
	display: inline-flex;
	justify-content: flex-end;
}

.menu-option--datagame-blank {
	text-align: center;
}

.menu-option--datagame-blank > a {
	width: 100%;
	display: block;
}

.menu-option--language {
	margin: 10px 15px;
}

/* Footer */
.menu-footer-message {
	color: rgba(255, 255, 255, 0.623);
	padding: 0px 5px;
	height: 85%;
	display: flex;
	align-items: flex-end;
}

.menu-disable {
	display: none;
}