@font-face {
	font-family: 'Beckett';
	src: url('Beckett/Beckett.eot');
	src: url('Beckett/Beckett.eot?#iefix') format('embedded-opentype'),
		url('Beckett/Beckett.woff2') format('woff2'),
		url('Beckett/Beckett.woff') format('woff'),
		url('Beckett/Beckett.ttf') format('truetype'),
		url('Beckett/Beckett.svg#Beckett') format('svg');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BankGothic';
	src: url('BankGothic/BankGothicBold.eot');
	src: url('BankGothic/BankGothicBold.eot?#iefix') format('embedded-opentype'),
		url('BankGothic/BankGothicBold.woff2') format('woff2'),
		url('BankGothic/BankGothicBold.woff') format('woff'),
		url('BankGothic/BankGothicBold.svg#BankGothicBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura';
	src: url('Futura/Futura-Bold.eot');
	src: url('Futura/Futura-Bold.eot?#iefix') format('embedded-opentype'),
		url('Futura/Futura-Bold.woff2') format('woff2'),
		url('Futura/Futura-Bold.woff') format('woff'),
		url('Futura/Futura-Bold.ttf') format('truetype'),
		url('Futura/Futura-Bold.svg#Futura-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pricedown Bl';
	src: url('Pricedown/PricedownBl-Regular.eot');
	src: url('Pricedown/PricedownBl-Regular.eot?#iefix') format('embedded-opentype'),
		url('Pricedown/PricedownBl-Regular.woff2') format('woff2'),
		url('Pricedown/PricedownBl-Regular.woff') format('woff'),
		url('Pricedown/PricedownBl-Regular.ttf') format('truetype'),
		url('Pricedown/PricedownBl-Regular.svg#PricedownBl-Regular') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}